<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>/stocks/<종목> : Get data from daily table</p>
    <p>/store/<종목> : UPDATE daily table</p>
    <p>/storedata/<종목> : UPDATE <종목> table </p>
    <p>/chart/<종목>/option (option : open, close, high, low)</p>
    <p>/swagger</p>
  </body>
</html>
